:root{
    --primary: #FFF;
}
.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn--primary{
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}
.btn--outline{
    background-color: transparent;
    color: #FFF;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}
.btn-medium{
    padding: 8px 20px;
    font-size: 20px;
}
.btn--large{
    padding: 14px 28px;
    font-size: 20px;
    color:#242424
}
.btn--medium:hover, .btn--large:hover{
    background: #3C3C3C;
    color: #FFBB00;
    transition: all 0.3s ease-out;

}