/* Styling for the whole footer */
.footer-container{
    background-color: #3C3C3C;
    padding: 2rem 1 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Styling for the group members and a tag*/
.groupMembers{
    color: white;
}
/* Hover styling for the links */
a:hover{
    color: #FFBB00;
}
/* Styling for the social media icons */
.media{
    color:rgb(255, 255, 255);
    font-size: 24px;
}
/* Styling for the social media icons */
.socialMedia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-bottom: 20px;

}
/* Styling for the social media icons */
.docSpotsTitleLogo{
    color: rgb(255, 255, 255);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-self: center;
    margin-bottom: 20px;
}
/* Styling for the towson link */
.towson{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

p.Review{
    color: black;
}

