/* General styling for the nav bar as a whole */
.navbar {
  background: #3c3c3c;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
/* Here is styling for the elements in the nav bar */
.navbarGroup {
  display: flex;
  align-items: center;
  height: 70px;
  max-width: 1500px;
}
/* Here is styling for the title of the nav bar Docs spots */
.navbarTitle {
  color: rgb(255, 255, 255);
  margin-left: 15px;
  font-size: 40px;
  align-items: center;
}
/* Here is styling for how the elements in the nav bar will be displayed */
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style:none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 20px;
}
/* Here is styling for where the Login/Logout button is located */
.navbarItem {
  height: 40px;
}
/* Here is styling for the tabs within the nav bar */
.navbarTab {
  color:rgb(255, 255, 255);;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}
