/* Styling to position the backgroud image properly */
.top{
    background-image: url("img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh; 
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}
/* Styling used to ONLY style the h1 tag for the TopSection.js page hence the > */
.top > h1{
    color: rgb(255, 255, 255);
    font-size: 100px;
}
/* Styling used to ONLY style the p tag for the TopSection.js page hence the > */
.top > p{
    color: rgb(255, 255, 255);
    font-size: 40px;
}
/* Positioning the button in the correct location */
.button{
    margin-top: 32px;
}
/* Setting the correct font size and margin when the page is shrunk  */
@media screen and (max-width: 960px){
    .top > h1{
        font-size: 70px;
        margin-top: -150px;
    }
}